@import '../abstracts/variables';

html {
    overflow-x: hidden;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: $ff-patua;
    font-weight: 400;
    font-size: 34px;
    line-height: 35px;
    margin-bottom: 22px;

    @media (min-width: $lg) {
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 26px;
    }

    @media (min-width: $xl) {
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 32px;
    }
}
