@font-face {
    font-family: 'MontserratThin';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/montserrat/Montserrat-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratLight';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratRegular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratMedium';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratSemiBold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratBold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'NunitoLight';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/nunito/Nunito-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'NunitoRegular';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/nunito/Nunito-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NunitoSemiBold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'NunitoBold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PatuaOne';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('~assets/fonts/patua/PatuaOne-Regular.ttf') format('truetype');
}
