@mixin media-query-devices-width {
    @media (min-width: $md) {
        padding: 0 40px;
        width: $small-width;
    }

    @media (min-width: $lg) {
        padding: 0;
        width: $large-width;
    }

    @media (min-width: $xl) {
        width: $extra-large-width;
    }
}
