// devices width
$xl: 1440px;
$lg: 1008px;
$md: 768px;
$sm: 360px;

// colors
$primary-black: #3A3A3A;

// fonts
$ff-montserrat-thin: 'MontserratThin', sans-serif;
$ff-montserrat-light: 'MontserratLight', sans-serif;
$ff-montserrat-regular: 'MontserratRegular', sans-serif;
$ff-montserrat-medium: 'MontserratMedium', sans-serif;
$ff-montserrat-semibold: 'MontserratSemiBold', sans-serif;
$ff-montserrat-bold: 'MontserratBold', sans-serif;

$ff-patua: 'PatuaOne', cursive;

$ff-nunito-light: 'NunitoLight', sans-serif;
$ff-nunito-regular: 'NunitoRegular', sans-serif;
$ff-nunito-semibold: 'NunitoSemiBold', sans-serif;
$ff-nunito-bold: 'NunitoBold', sans-serif;

// full width content
$extra-large-width: 1160px;
$large-width: 940px;
$medium-width: 720px;
$small-width: 100%;
