<template>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__container-right">
                <div class="copy-rights">
                    © 2021 Mayra Perna. Todos los derechos reservados.
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    data() {
        return {
        };
    },
}
</script>

<style lang="scss" scoped>
    .footer {
        background: #FFFFFF;
        height: 50px;
        width: 100%;

        @media (min-width: $lg) {
            position: fixed;
            bottom: 0;
            left: 0;
        }

        &__container {
            margin: 0 auto;
            padding: 0 16px;
            height: 100%;
            width: $small-width;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media-query-devices-width;

            &-right {

                .copy-rights {
                    font-size: 13px;
                    font-family: $ff-montserrat-regular;

                    @media (min-width: $xl) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
</style>
