<template>
    <header class="header" :class="hasScroll">
        <div class="header__container">
            <div class="header__logo-container">
                <img
                    src="~images/mayra-perna-logo.png"
                    alt="Mayra Perna"
                    width="120"
                    height="68.98"
                    class="header__logo-desktop">
                <div class="header__logo-name">Mayra Perna</div>
                <img
                    src="~images/mayra-perna-logo-mobile.png"
                    width="45"
                    height="42.22"
                    alt="Mayra Perna"
                    class="header__logo-mobile">
            </div>
            <div class="header__nav-container">
                <nav
                    class="header__nav"
                    :class="{'header__nav-mobile-visible': menuMobile}">
                    <ul class="header__links">
                        <li
                            v-for="(link, index) in links"
                            :key="index"
                            class="header__link">
                            <a
                                :href="link.url"
                                class="header__link-url">
                                {{ link.text }}
                            </a>
                        </li>
                    </ul>
                    <div
                        class="header__close"
                        @click="toggleNavMobile">
                        <img
                            src="~images/close.svg"
                            alt="Close"
                            width="16"
                            height="16"
                            class="header__close-image">
                    </div>
                </nav>
                <div class="header__search">
                    <img
                        src="~images/search.svg"
                        alt="Buscar"
                        class="header__search-image">
                </div>
                <div
                    class="header__menu"
                    @click="toggleNavMobile">
                    <img
                        src="~images/menu.svg"
                        alt="Menu"
                        width="18"
                        height="18"
                        class="header__menu-image">
                </div>
            </div>
        </div>
    </header>
</template>

<script>
export default {
    data() {
        return {
            links: [
                { url: '/', text: 'Inicio' },
                { url: '/blog', text: 'Blog' },
                { url: '/contacto', text: 'Contáctame' },
            ],
            scrollY: 0,
            menuMobile: false,
            width: 0,
        };
    },

    watch: {
        width(val) {
            if (val >= 1008 && !this.menuMobile) {
                this.menuMobile = true;
            }
        }
    },

    mounted() {
        addEventListener('scroll', this.scrollYPosition);
        addEventListener('resize', this.innerWidth);
        this.scrollYPosition();
        this.innerWidth();
    },

    destroyed() {
        removeEventListener('scroll', this.scrollYPosition);
        removeEventListener('resize', this.innerWidth);
    },

    computed: {
        hasScroll() {
            return this.scrollY !== 0 ? 'header__scrolled' : '';
        },
    },

    methods: {
        scrollYPosition() {
            this.scrollY = window.scrollY;
        },

        innerWidth() {
            this.width = window.innerWidth;
        },

        toggleNavMobile() {
            this.menuMobile = !this.menuMobile;
        },
    },
}
</script>

<style lang="scss" scoped>
    .header {
        background: #FFFFFF;
        z-index: 1000;
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: all .2s;

        @media (min-width: $lg) {
            height: 100px;
        }

        &__scrolled {
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
        }

        &__container {
            padding: 0 16px;
            margin: 0 auto;
            height: 100%;
            width: $small-width;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media-query-devices-width;
        }

        &__nav-container {
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__nav {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0;
            transform: translateX(105vw);
            background: #FFF;
            box-shadow: 0px 0px 12px 0px rgb(0, 0, 0, 0.1);
            transition: all .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @media (min-width: $lg) {
                display: block;
                position: relative;
                height: unset;
                width: unset;
                top: unset;
                left: unset;
                box-shadow: unset;
            }
        }

        &__nav-mobile-visible {
            transform: translateX(0);
        }

        &__logo {

            &-container {
                height: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: center;

                @media (min-width: $lg) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }

            &-desktop {
                width: 95px;
                height: 54.61px;
                display: none;

                @media (min-width: $lg) {
                    display: block;
                }

                @media (min-width: $xl) {
                    width: 120px;
                    height: 68.98px;
                }
            }

            &-name {
                font-family: $ff-montserrat-light;
                line-height: 16px;
                margin-left: 8px;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 15px;
                margin-top: 6px;

                @media (min-width: $md) {
                    margin-left: 16px;
                    font-size: 18px;
                    margin-top: 8px;
                }

                @media (min-width: $lg) {
                    line-height: 16px;
                    margin-left: 3px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 15px;
                }

                @media (min-width: $xl) {
                    line-height: 18px;
                    font-size: 16px;
                    letter-spacing: 3px;
                }
            }

            &-mobile {
                width: 35px;
                height: 32.83px;
                display: block;

                @media (min-width: $md) {
                    width: 45px;
                    height: 42.22px;
                }

                @media (min-width: $lg) {
                    display: none;
                }
            }
        }

        &__links {
            list-style: none;
            display: flex;
            margin-left: unset;
            right: 38px;
            top: 50px;
            padding: 0;
            flex-direction: column;
            height: 50vh;
            justify-content: space-evenly;


            @media (min-width: $lg) {
                display: flex;
                margin-left: 80px;
                position: relative;
                top: unset;
                right: unset;
                flex-direction: row;
                height: unset;
                justify-content: unset;
            }
        }

        &__link {
            text-align: center;

            @media (min-width: $lg) {
                margin-left: 90px;
            }

            &-url {
                text-decoration: none;
                font-family: $ff-montserrat-semibold;
                color: $primary-black;
                font-size: 34px;
                text-transform: uppercase;

                @media (min-width: $lg) {
                    font-size: 18px;
                    text-transform: unset;
                    font-family: $ff-patua;
                }

                @media (min-width: $xl) {
                    font-size: 20px;
                }
            }
        }

        &__search {
            display: none;

            @media (min-width: $lg) {
                display: none;
                justify-content: center;
                align-items: center;
                margin-left: 90px;
            }

            &-image {
                width: 18px;

                @media (min-width: $xl) {
                    width: 22px;
                }

                @media (min-width: $xl) {
                    width: 22px;
                }
            }
        }

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (min-width: $lg) {
                display: none;
            }

            &-image {
                width: 18px;

                @media (min-width: $xl) {
                    width: 22px;
                }
            }
        }

        &__menu:hover, &__close:hover {
            cursor: pointer;
        }

        &__close {
            width: 50px;
            height: 50px;
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            justify-content: center;
            align-items: center;

            @media (min-width: $lg) {
                display: none;
            }

            &-image {
                width: 16px;

                @media (min-width: $xl) {
                    width: 22px;
                }
            }
        }
    }
</style>
