<template>
    <main class="contacto">
        <div class="contacto__container">En construcción</div>
    </main>
</template>

<script>
export default {
    data() {
        return {
        }
    },
}
</script>

<style lang="scss" scoped>
    .contacto {
        margin: 50px 0 0;
        min-height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $lg) {
            margin: 100px 0 0;
            min-height: calc(100vh - 150px);
        }

        &__container {
            font-size: 30px;
            font-family: $ff-montserrat-bold;
        }
    }
</style>
