<template>
    <main class="home">
        <section class="home__principal">
            <div class="home__principal-content">
                <div class="home__principal-content__left">
                    <img
                        width="590"
                        height="409.72"
                        src="~images/mayra-perna-home-inmobiliario.svg"
                        class="home__principal-content__left-image"
                    >
                </div>
                <div class="home__principal-content__right">
                    <h1 class="home__principal-content__right__title">
                        <span class="home__principal-content__right__title--yellow">Asesoría Integral</span>
                        en trámites inmobiliarios
                    </h1>
                    <p class="home__principal-content__right__subtitle">Especialista en venta de nuevos desarrollos y gerencia comunitaria. Asesoría inmobiliaria, créditos, documentos, venta y alquiler de propiedades.</p>
                    <div class="home__principal-content__right__social-media">
                        <a
                            href="https://www.instagram.com/mayrapernainmobiliario/"
                            target="_blank">
                            <img
                                src="~images/instagram.svg"
                                alt="Instagram"
                                width="18"
                                height="18"
                                class="social-media-icon"
                            >
                        </a>
                        <a
                            href="https://www.facebook.com/Mayra-Perna-Asesora-Inmobiliaria-Integral-1723744917894976/"
                            target="_blank">
                            <img
                                src="~images/facebook.svg"
                                alt="Facebook"
                                width="18"
                                height="18"
                                class="social-media-icon"
                            >
                        </a>
                        <a href="mailto:mayra.perna@gmail.com">
                            <img
                                src="~images/email.svg"
                                alt="Instagram"
                                width="18"
                                height="18"
                                class="social-media-icon"
                            >
                        </a>
                        <a
                            href="https://twitter.com/mayrafortuna"
                            target="_blank">
                            <img
                                src="~images/twitter.svg"
                                alt="Twitter"
                                width="18"
                                height="18"
                                class="social-media-icon"
                            >
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
export default {
    head: {
        title: 'Mayra Perna - Asesora Inmobiliaria',
        meta: [
            {
                hid: 'description',
                name: 'description',
                content: 'Mayra Perna, asesora inmobiliaria'
            }
        ],
        link: [{ rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }]
    }
}
</script>

<style lang="scss" scoped>
    .home {
        margin: 50px 0 0;
        min-height: calc(100vh - 100px);

        @media (min-width: $lg) {
            margin: 100px 0 0;
            min-height: calc(100vh - 150px);
        }

        &__principal {
            width: $small-width;
            min-height: inherit;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding: 10px 16px 0;

            @include media-query-devices-width;

            &-content {
                width: 100%;
                min-height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;

                @media (min-width: $lg) {
                    flex-direction: row;
                }

                &__left {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;

                    @media (min-width: $lg) {
                        height: 100%;
                        width: 60%;
                    }

                    &-image {
                        width: 100%;

                        @media (min-width: $lg) {
                            width: 590px;
                            height: 409.72px;
                            position: absolute;
                            right: 20px;
                        }

                        @media (min-width: $xl) {
                            width: 800px;
                            height: 556px;
                            right: 40px;
                        }
                    }
                }

                &__right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin-top: 20px;

                    @media (min-width: $lg) {
                        height: 100%;
                        width: 40%;
                    }

                    @media (min-width: $xl) {
                        width: 35%;
                    }

                    &__title {
                        width: 100%;

                        @media (min-width: $lg) {
                            width: 390px;
                        }

                        @media (min-width: $xl) {
                            width: 510px;
                        }

                        &--yellow {
                            color: #ffbd39;
                        }
                    }

                    &__subtitle {
                        font-family: $ff-nunito-regular;
                        width: 100%;

                        @media (min-width: $lg) {
                            width: 390px;
                        }

                        @media (min-width: $xl) {
                            width: 510px;
                        }
                    }

                    &__social-media {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 190px;
                        margin-top: 26px;
                        margin-bottom: 30px;

                        @media (min-width: $lg) {
                            width: 240px;
                            margin-top: 40px;
                        }

                        @media (min-width: $xl) {
                            width: 280px;
                        }

                        .social-media-icon {
                            width: 16px;
                            height: 16px;

                            @media (min-width: $lg) {
                                width: 18px;
                                height: 18px;
                            }

                            @media (min-width: $xl) {
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
</style>
