<template>
    <main class="login">
        <div class="login__container">
            <div class="form">
                <div>Usuario</div>
                <input v-model="username" placeholder="username" type="text">
                <div>Contraseña</div>
                <input v-model="password" type="password">
                <button @click="login">Iniciar sesión</button>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    data() {
        return {
            url: 'http://localhost:3010/api/auth/login',
            username: '',
            password: '',
        }
    },
    async mounted() {
        try {
            const res = await fetch('http://localhost:3010/api/user', {
                method: 'GET',
            });
            const data = await res.json();
            console.log(data);
        } catch (error) {
            console.log(error)
        }
    },
    methods: {
        async login() {
            const { username, password } = this;
            try {
                const res = await fetch(this.url, {
                    method: 'POST',
                    body: JSON.stringify({
                        'username': username,
                        'password': password
                    }),
                    headers: { 'Content-Type': 'application/json'},
                });
                const data = await res.json();
                console.log(data);
            } catch (error) {
                console.log(error)
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    .login {
        margin: 50px 0 0;
        min-height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $lg) {
            margin: 100px 0 0;
            min-height: calc(100vh - 150px);
        }

        &__container {
            font-size: 30px;
            font-family: $ff-montserrat-bold;
        }
    }
</style>
