<template>
    <h1>post id</h1>
</template>

<script>
export default {
    data() {
        return {
            post: {},
        }
    },

    mounted() {
        console.log(this.$route.params.id);
    }
}
</script>
